__pycache__/
venv/
.venv/
dist/
.coverage*
.ipynb_checkpoints/
.ruff_cache/
.DS_Store
._*

/*.yml
!/default_config.yml
/weight/bert/*/*.bin
/weight/bert/*/*.h5
/weight/bert/*/*.model
/weight/bert/*/*.msgpack
/weight/bert/*/*.onnx
/weight/bert/*/*.gguf

/configs/paths.yml

/weight/pretrained/*/*.safetensors
/weight/pretrained/*/*.pth

/weight/slm/*/*.bin
/weight/whisper/*/*.safetensors

/scripts/test/
/scripts/lib/
/scripts/Style-Bert-VITS2/
/scripts/sbv2/
*.zip
*.csv
*.bak
/mos_results/

safetensors.ipynb
*.wav
/static/

playground.ipynb
playgrounds/
