accelerate
aivmlib

cn2an
gradio>=4.32

loguru

onnx
onnxconverter-common
onnxruntime-gpu
onnxsim-prebuilt
pyannote.audio>=3.1.0
pyloudnorm

pyworld-prebuilt
librosa==0.9.2

transformers<4.50.0
umap-learn

cmudict
pypinyin

numpy<2
torch
torchaudio
torchvision

nltk<=3.8.1
jaconv
kabosu-plus @ git+https://github.com/q9uri/kabosu-plus@17b3e400742ca28fee2641fde3323e0454e99ef8
