#================================================================
#fugashi replacing vibrato
vibrato
zstandard
#================================================================
# for oseti
bunkai
#================================================================
# for oseti, mlask, mecab_ko
fugashi
#================================================================
# for pyopenjtalk
onnxruntime
numpy<2
marine-plus
sudachipy
sudachidict_core
jaconv
jpreprocess
kanalizer
google-re2
#================================================================
# for yomikata
# numpy<2
# jaconv
pandas>=1.5.2
scikit-learn
speach
torch
transformers==4.53.0
huggingface_hub
datasets
nvidia-ml-py
sentencepiece
rich
plac
streamlit==1.17.0
spacy
# fugashi only use ko-dic
# ipadic jumandic unidiclite use vibrato version
#fugashi
#ipadic==1.0.0
#jumandic==1.0.0
#unidic-lite
sudachidict_full
#================================================================
# for marine-plus
# numpy<2
# torch 
hydra-core
hydra_colorlog
tqdm
joblib
pykakasi 
#================================================================
# for marine-plus
#scikit-learn = "^1.1.1"
#Janome = "^0.4.2"
#skl2onnx = "^1.13" #for train
#packaging = "^21.3"
#onnxruntime = "^1.12.1"
#================================================================
# for bunkai
dataclasses-json 
#janome 
seqeval 
spans 
#tqdm 
#numpy 
#torch 
#transformers 
more_itertools
emoji
emojis
toml 
requests 
regex
#seqeval #for train
#================================================================
# for asapy
ginza
ja_ginza