onnxruntime
numpy<2
torch
nvidia-ml-py
pandas>=1.5.2
scikit-learn

transformers==4.53.0
huggingface_hub
datasets

vibrato
zstandard
sudachipy
sudachidict_full
jpreprocess

spacy
ginza
ja_ginza

jaconv
kanalizer
pykakasi 

nltk
sentencepiece
speach
google-re2


rich
plac
streamlit==1.17.0
hydra-core
hydra_colorlog
tqdm
joblib
#================================================================
# for marine-plus
#scikit-learn = "^1.1.1"
#skl2onnx = "^1.13" #for train
#packaging = "^21.3"
#================================================================
# for bunkai
dataclasses-json 
seqeval 
spans 

more_itertools
emoji
emojis
toml 
requests 
regex

inflect
distance

soundfile
pydub
librosa
pyworld-prebuilt==0.3.5.post1

aiohttp
configparser
dotenv
future
json_repair
nano-vectordb
networkx
#numpy
pandas>=2.0.0
pipmaster
pydantic
pypinyin
python-dotenv
setuptools
tenacity
tiktoken
xlsxwriter>=3.1.0",