#================================================================
# for oseti
bunkai
#================================================================
# for oseti, mlask, mecab_ko
fugashi
#================================================================
# for pyopenjtalk
onnxruntime
numpy<2
marine-plus
sudachipy
sudachidict_core
jaconv
jpreprocess
kanalizer
google-re2
#================================================================
# for yomikata
# numpy<2
# jaconv
pandas>=1.5.2
scikit-learn
speach
torch
transformers==4.53.0
huggingface_hub
datasets
nvidia-ml-py
sentencepiece
rich
plac
streamlit==1.17.0
spacy
#fugashi
ipadic==1.0.0
jumandic==1.0.0
fugashi[unidic-lite]
sudachidict_full
unidic-lite
#================================================================
