accelerate
aivmlib

cn2an
faster-whisper
GPUtil
gradio>=4.32

loguru
nltk<=3.8.1

onnx
onnxconverter-common
onnxsim-prebuilt
protobuf
psutil==6.1.1
punctuators
pyannote.audio>=3.1.0
pyloudnorm

stable_ts
tensorboard

transformers==4.53.0

numpy<2
torch
torchaudio

umap-learn

pyworld-prebuilt
librosa

cmudict
pypinyin

jaconv
kabosu-plus @ git+https://github.com/q9uri/kabosu-plus@17b3e400742ca28fee2641fde3323e0454e99ef8