accelerate
aivmlib
cmudict
cn2an
faster-whisper
GPUtil
gradio>=4.32
jaconv
librosa
loguru
nltk<=3.8.1
numpy<2
onnx
onnxconverter-common
onnxsim-prebuilt
protobuf
psutil==6.1.1
punctuators
pyannote.audio>=3.1.0
pyloudnorm
pypinyin
pyworld-prebuilt
stable_ts
tensorboard
torch
torchaudio
transformers==4.53.0
umap-learn
kabosu-plus @ git+https://github.com/q9uri/kabosu-plus@17b3e400742ca28fee2641fde3323e0454e99ef8